ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  /* bottom: 0; */
  width: 100%;
  font-family: "Times New Roman", Times, serif;
}
li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
}


.active {
  background-color: #4CAF50;
}

.bottom {
    bottom: 3px;
    /* position: static; */
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  width: 40%;
}

.center { 
  height: 300px;
  position: relative;
}

.center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}